.page-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

.header-wrapper{
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr
}


.heading-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

.posts-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


