<div class="page-wrapper">
  
  <!-- Header -->
  <div class="header-wrapper">
    
    <!-- Header goes here -->
    <div>
      <app-header></app-header>
    </div>
  </div>
  
  <!-- Heading -->
  <div class="heading-wrapper">
    <!-- Heading goes here -->
    <app-heading></app-heading>
  </div>

  <!-- Posts navigation options -->
  <div>
    <app-blogs-navigation-options></app-blogs-navigation-options>
  </div>
  
  <!-- Posts -->
  <div class="posts-wrapper">
    <!-- Posts goes here -->
    <app-blog-template></app-blog-template>
  </div>


</div>
