<div class="heading-wrapper">
  <div class="content-wrapper">
    <div>
      <h2>All of this should be done mobile first</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, libero. Eos harum magni neque ad omnis porro, eius,
        eaque ipsum nobis expedita ex sint molestiae perferendis aliquam voluptates? Odit, autem!</p>
    </div>

    <div routerLinkActive="active">
      <a [routerLink]="['/getStarted']" class="butn">Get started</a>
    </div>

    <!-- Empty container -->
    <div></div>
  </div>
</div>