/* .heading-wrapper{
    display: grid;
    grid-template-columns: 1fr;

    padding: 15em;
    background-color: #6b6b6b;
}

.content-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
} */


.heading-wrapper {
    /* background: #5f6f81; */
    padding: 2em 1em 7em 1em;
}

.butn {
    color: white;
    display: inline-block;
    background: #5f6f81;
    text-decoration: none;
    padding: 10px;
}

.butn:hover {
    background: #5993cd;
}