
a{
    min-width: 100%;
} 

.butn {
    color: white;
    display: inline-block;
    border: 1px solid #5993cd;
    background: #5f6f81;
    text-decoration: none;
    padding: 10px;
}

.butn:hover {
    background: #5993cd;
    color: white;
}