
.create-post-form {
    padding: 3em;
}

textarea{
    resize: none;
}

.butn{
    color: white;
    display: inline-block;
    background: #5f6f81;
    text-decoration: none;
    padding: 10px;
}

.butn:hover {
    background: #5993cd;
}

button {
  border:none;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

/* If button is disabled */
:disabled{
    background: #5f6f81;
    border: 1px solid red;
}
:disabled:hover{
    background: #5f6f81;
}
/* FORM LARGER THAN MOBILE LATER */

/* .page-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
} */